@{
    ViewData["Title"] = "Information";
}

<h2>Company information</h2>

<br/>

<p><b>Company:</b> @ViewData["Company"]</p>
<p><b>Address:</b> @ViewData["Address"]</p>
<p><b>Phone:</b> @ViewData["Phone"]</p>
